In [1]:
import os
import pandas as pd
import haversine

In [2]:
#model carbon footprint by route cluster
#lol i just want to have a go at clustering

In [6]:
import os
stop_dirs = os.listdir('/home/student/data/stops')
#print(stop_dirs)

In [4]:
print(os.listdir('/home/student/data/'))
#gtfs='/home/student/data/gtfs/'

['rt_leavetimes_2017_I_DB.txt', '.ipynb_checkpoints', 'gtfs', 'cleanweather.csv', 'rt_leavetimes_2016_I_DB.txt', 'stopsmap.pickle', 'officialroutes.csv', 'rt_trips_2017_I_DB.txt', 'Untitled.ipynb', 'stops', 'routesplits', 'weatherData', 'rt_trips_2016_I_DB.txt', 'js']

In [7]:
#can i match shape id to trip id?

In [8]:
from dbanalysis import headers

In [9]:
hds=headers.get_route_headers()

In [10]:
hds

['index',
 'datasource',
 'dayofservice',
 'tripid',
 'progrnumber',
 'stoppointid',
 'plannedtime_arr',
 'plannedtime_dep',
 'actualtime_arr',
 'actualtime_dep',
 'vehicleid',
 'passengers',
 'passengersin',
 'passengersout',
 'distance',
 'suppressed',
 'justificationid',
 'lastupdate',
 'note']

In [15]:
print(os.listdir('/home/student/ResearchPracticum/data/routesplits'))

['41_4', '31_16', '17_18', '41X_115', '220_12', '4_12', '17_14', '41C_80', '27B_34', '142_12', '111_9', '220_15', '145_102', '111_8', '41B_53', '70_67', '47_137', '77A_29', '76A_28', '33_71', '7B_91', '29A_14', '185_56', '114_5', '41X_118', '40D_105', '27X_42', '111_10', '76A_29', '75_19', '84X_58', '29A_15', '70D_70', '32_57', '7D_120', '238_15', '68_68', '40_26', '32_58', '184_28', '83_27', '46A_65', '42_44', '7D_121', '118_3', '757_2', '40B_64', '25X_7', '39A_40', '84X_53', '14_12', '46A_72', '9_8', '145_105', '7A_86', '33B_60', '27_19', '31A_26', '17_11', '40_32', '151_18', '32X_76', '104_16', '130_10', '25B_276', '75_21', '185_63', '33_40', '84A_1', '69X_57', '33_44', '25A_273', '39A_43', '46A_68', '46A_73', '46A_67', '104_15', '63_25', '70_69', '83_21', '17A_15', '38B_40', '41_3', '40D_106', '40D_101', '17_13', '84X_59', '185_55', '37_14', '16C_28', '75_20', '68_73', '59_10', '66X_100', '46A_66', '27_18', '40_19', '66X_92', '66X_94', '185_51', '13_76', '142_10', '9_5', '70D_71', '114_6', '40B_65', '184_29', '150_6', '151_15', '27B_27', '41X_119', '38A_32', '145_87', '15_17', '17A_13', '41_9', '77A_28', '66_16', '33_70', '77X_61', '31_15', '39A_45', '13_73', '1_40', '15_16', '65_73', '46A_64', '83_22', '38B_44', '40_18', '33_69', '44_37', '38A_20', '7_67', '185_54', '39A_42', '13_71', '25D_277', '17A_16', '122_17', '68_71', '16_21', '145_86', '69_42', '44B_61', '83_25', '41A_22', '116_3', '9_7', '220_14', '43_84', '63_29', '120_8', '27_12', '18_5', '47_136', '65_76', '84A_2', '145_88', '145_99', '33_72', '120_10', '31_18', '25_272', '1_41', '83A_20', '43_89', '13_75', '145_106', '185_58', '66_11', '31D_51', '75_16', '66X_93', '31B_46', '185_61', '26_26', '16C_26', '13_62', '83A_23', '53_19', '40D_103', '17A_11', '75_13', '18_3', '1_39', '33X_47', '68_67', '17_12', '41X_108', '46A_69', '39_20', '83A_26', '15A_81', '84_32', '51D_50', '15_18', '185_60', '15A_82', '123_35', '102_8', '40_25', '27_9', '41X_117', '142_9', '123_36', '102_10', '27B_23', '27B_40', '7_70', '33_73', '69X_58', '66X_97', '238_11', '84_30', '17_17', '38_14', '79_11', '11_40', '67_4', '65_77', '41_20', '44_36', '56A_30', '75_8', '63_26', '41_6', '140_22', '45A_64', '68X_77', '39_22', '33_45', '51D_47', '185_52', '83_18', '145_107', '17_10', '76_37', '7A_87', '13_67', '41_21', '1_38', '67X_42', '68A_75', '39A_41', '83_19', '13_69', '40D_104', '4_13', '33_18', '46A_74', '40_30', '41_8', '16C_27', '66B_55', '68_69', '150_7', '25B_271', '46A_63', '68_70', '236_10', '41_5', '17A_14', '27B_38', '46E_93', '41X_120', '67X_39', '185_57', '65B_65', '79A_27', '27A_5', '45A_68', '59_11', '15B_55', '140_21', '25X_9', '33A_23', '16C_29', '130_11', '25X_5', '75_18', '41X_109', '150_5', '67_6', '84_28', '76_36', '13_68', '17A_12', '44_35', '37_15', '46A_70', '38A_33', '40_17', '17A_17', '7B_93', '49_27', '185_59', '43_85', '75_14', '66X_96', '61_106', '33_43', '33A_27', '45A_70', '239_26', '33A_22', '17A_18', '65_72', '83_24', '63_31', '11_41', '27B_36', '145_94', '13_64', '17_19', '41C_78', '44_30', '140_16', '151_16', '123_37', '84_29', '33B_59', '69_30', '31A_25', '65_74', '42_42', '13_61', '66X_99', '46A_77', '145_91', '14C_18', '47_135', '45A_67', '33X_46', '75_15', '84X_57', '7D_122', '41_10', '39_21', '39_23', '4_10', '140_19', '25B_274', '16_22', '120_7', '75_17', '66B_57', '7_71', '63_28', '161_52', '40_28', '13_70', '33A_25', '43_88', '7A_88', '44_40', '11_42', '161_51', '25D_275', '38_9', '122_15', '13_63', '31_17', '32X_75', '38_10', '84X_52', '27B_26', '116_1', '54A_11', '38B_45', '63_30', '151_17', '27_17', '27_20', '84A_4', '79_10', '123_34', '11_43', '1_37', '44_39', '33B_56', '41B_52', '40_33', '33B_58', '40D_102', '45A_69', '25_269', '15B_59', '13_28', '42D_51', '67X_38', '16_20', '75_7', '51X_63', '145_93', '66_13', '120_9', '31D_50', '185_50', '270_42', '45A_60', '185_53', '15B_56', '14_15', '13_65', '33A_26', '13_72', '40_31', '41X_110', '111_7', '67X_40', '145_104', '161_50', '15_10', '33B_57', '49_28', '65_75', '66X_95', '79A_28', '47_138', '65B_66', '13_74', '122_16', '185_62', '140_20', '31B_45', '27X_43', '33_17', '44B_60', '16_23', '42D_50', '17_15', '33X_48', '68_72', '122_14', '41_7', '7_66', '239_28', '14C_17', '14_16', '13_60', '61_109', '238_12', '38A_23', '13_66', '44_33', '46A_62', '38D_61', '67X_41', '142_8', '69_41', '84_31', '15B_57', '32X_74', '236_9', '15B_58', '41C_79', '44_31', '61_108', '25A_270', '47_139', '63_27', '40_27', '41X_116', '83_16', '9_6', '17_16', '66X_101', '27B_35', '68_66', '757_1', '38D_68', '33_16', '66A_34', '66_14', '41B_51', '56A_31', '40_29', '70_60', '49_29', '27B_37', '38_15', '38_13', '4_11', '27B_25', '40_20', '26_24', '39A_44', '40B_63', '27B_39', '7A_85', '18_4', '68A_76', '16_24', '31B_44', '84_27', '61_107', '151_19', '40_24', '68_74', '145_95', '15A_80', '84A_3', '33_42', '33_41', '37_13', '66A_36', '44_38', '27A_4', '220_10', '53_17', '54A_12', '83A_17', '84X_56', '270_44', '102_9', '27A_6', '145_89']

In [16]:
df=pd.read_csv('/home/student/ResearchPracticum/data/routesplits/16C_27', names=hds)

In [18]:
df.shape

(1375, 19)

In [20]:
df.head()

,index,datasource,dayofservice,tripid,progrnumber,stoppointid,plannedtime_arr,plannedtime_dep,actualtime_arr,actualtime_dep,vehicleid,passengers,passengersin,passengersout,distance,suppressed,justificationid,lastupdate,note
0,171091,DB,17-JAN-17 00:00:00,4092733,1,215,28200,28200,28230,28230,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 09:48:02,NaN
1,171092,DB,17-JAN-17 00:00:00,4092733,2,216,28293,28293,28348,28348,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 09:48:02,NaN
2,171093,DB,17-JAN-17 00:00:00,4092733,3,236,28300,28300,28350,28350,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 09:48:02,NaN
3,171094,DB,17-JAN-17 00:00:00,4092733,4,217,28364,28364,28376,28376,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 09:48:02,NaN
4,171095,DB,17-JAN-17 00:00:00,4092733,5,218,28431,28431,28487,28512,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 09:48:02,NaN

In [21]:
df.sort_values(by=['vehicleid','tripid', 'dayofservice','actualtime_arr'])

,index,datasource,dayofservice,tripid,progrnumber,stoppointid,plannedtime_arr,plannedtime_dep,actualtime_arr,actualtime_dep,vehicleid,passengers,passengersin,passengersout,distance,suppressed,justificationid,lastupdate,note
933,733978,DB,30-JAN-17 00:00:00,4339373,13,44,29197,29197,29015,29046,1000111,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 16:36:24,NaN
934,733979,DB,30-JAN-17 00:00:00,4339373,18,48,29600,29600,29541,29541,1000111,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 16:36:24,NaN
935,733980,DB,30-JAN-17 00:00:00,4339373,22,262,30033,30033,30043,30075,1000111,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 16:36:24,NaN
214,545732,DB,20-FEB-17 00:00:00,4392790,1,215,28200,28200,28234,28234,1000111,NaN,NaN,NaN,NaN,NaN,NaN,05-MAR-17 02:13:13,NaN
215,545733,DB,20-FEB-17 00:00:00,4392790,2,216,28308,28308,28341,28341,1000111,NaN,NaN,NaN,NaN,NaN,NaN,05-MAR-17 02:13:13,NaN
216,545734,DB,20-FEB-17 00:00:00,4392790,3,236,28316,28316,28342,28342,1000111,NaN,NaN,NaN,NaN,NaN,NaN,05-MAR-17 02:13:13,NaN
217,545735,DB,20-FEB-17 00:00:00,4392790,5,218,28469,28469,28468,28521,1000111,NaN,NaN,NaN,NaN,NaN,NaN,05-MAR-17 02:13:13,NaN
218,545736,DB,20-FEB-17 00:00:00,4392790,6,219,28599,28599,28580,28580,1000111,NaN,NaN,NaN,NaN,NaN,NaN,05-MAR-17 02:13:13,NaN
219,545737,DB,20-FEB-17 00:00:00,4392790,7,1641,28830,28830,28618,28618,1000111,NaN,NaN,NaN,NaN,NaN,NaN,05-MAR-17 02:13:13,NaN
220,545738,DB,20-FEB-17 00:00:00,4392790,8,1642,29025,29025,28712,28719,1000111,NaN,NaN,NaN,NaN,NaN,NaN,05-MAR-17 02:13:13,NaN
221,545739,DB,20-FEB-17 00:00:00,4392790,9,213,29224,29224,28813,28850,1000111,NaN,NaN,NaN,NaN,NaN,NaN,05-MAR-17 02:13:13,NaN
984,526392,DB,20-FEB-17 00:00:00,4392790,10,214,29283,29283,28884,28884,1000111,NaN,NaN,NaN,NaN,NaN,NaN,05-MAR-17 02:13:13,NaN
222,545740,DB,20-FEB-17 00:00:00,4392790,11,4432,29343,29343,28929,28940,1000111,NaN,NaN,NaN,NaN,NaN,NaN,05-MAR-17 02:13:13,NaN
223,545741,DB,20-FEB-17 00:00:00,4392790,12,119,29406,29406,29031,29044,1000111,NaN,NaN,NaN,NaN,NaN,NaN,05-MAR-17 02:13:13,NaN
224,545742,DB,20-FEB-17 00:00:00,4392790,13,44,29469,29469,29076,29095,1000111,NaN,NaN,NaN,NaN,NaN,NaN,05-MAR-17 02:13:13,NaN
985,526393,DB,20-FEB-17 00:00:00,4392790,14,7603,29514,29514,29123,29169,1000111,NaN,NaN,NaN,NaN,NaN,NaN,05-MAR-17 02:13:13,NaN
225,545743,DB,20-FEB-17 00:00:00,4392790,15,45,29568,29568,29196,29215,1000111,NaN,NaN,NaN,NaN,NaN,NaN,05-MAR-17 02:13:13,NaN
226,545744,DB,20-FEB-17 00:00:00,4392790,16,46,29675,29675,29326,29350,1000111,NaN,NaN,NaN,NaN,NaN,NaN,05-MAR-17 02:13:13,NaN
227,545745,DB,20-FEB-17 00:00:00,4392790,17,47,29803,29803,29423,29445,1000111,NaN,NaN,NaN,NaN,NaN,NaN,05-MAR-17 02:13:13,NaN
228,545746,DB,20-FEB-17 00:00:00,4392790,18,48,29873,29873,29476,29488,1000111,NaN,NaN,NaN,NaN,NaN,NaN,05-MAR-17 02:13:13,NaN
986,526394,DB,20-FEB-17 00:00:00,4392790,19,49,29974,29974,29633,29655,1000111,NaN,NaN,NaN,NaN,NaN,NaN,05-MAR-17 02:13:13,NaN
229,545747,DB,20-FEB-17 00:00:00,4392790,20,51,30085,30085,29710,29733,1000111,NaN,NaN,NaN,NaN,NaN,NaN,05-MAR-17 02:13:13,NaN
230,545748,DB,20-FEB-17 00:00:00,4392790,21,52,30145,30145,29790,29803,1000111,NaN,NaN,NaN,NaN,NaN,NaN,05-MAR-17 02:13:13,NaN
231,545749,DB,20-FEB-17 00:00:00,4392790,22,262,30233,30233,29856,29869,1000111,NaN,NaN,NaN,NaN,NaN,NaN,05-MAR-17 02:13:13,NaN
232,545750,DB,20-FEB-17 00:00:00,4392790,23,270,30325,30325,29971,29971,1000111,NaN,NaN,NaN,NaN,NaN,NaN,05-MAR-17 02:13:13,NaN
616,986859,DB,02-MAY-17 00:00:00,4593046,13,44,29073,29073,29015,29015,1000111,NaN,NaN,NaN,NaN,0.0,89792.0,18-MAY-17 09:51:02,NaN
617,986860,DB,02-MAY-17 00:00:00,4593046,14,7603,29128,29128,29040,29050,1000111,NaN,NaN,NaN,NaN,0.0,89792.0,18-MAY-17 09:51:02,NaN
618,986861,DB,02-MAY-17 00:00:00,4593046,15,45,29192,29192,29080,29080,1000111,NaN,NaN,NaN,NaN,0.0,89792.0,18-MAY-17 09:51:02,NaN
619,986862,DB,02-MAY-17 00:00:00,4593046,16,46,29280,29280,29168,29168,1000111,NaN,NaN,NaN,NaN,0.0,89792.0,18-MAY-17 09:51:02,NaN
620,986863,DB,02-MAY-17 00:00:00,4593046,17,47,29385,29385,29278,29306,1000111,NaN,NaN,NaN,NaN,0.0,89792.0,18-MAY-17 09:51:02,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1008,690254,DB,21-FEB-17 00:00:00,4392790,18,48,29873,29873,29344,29344,1001105,NaN,NaN,NaN,NaN,NaN,NaN,05-MAR-17 02:24:02,NaN
1009,690255,DB,21-FEB-17 00:00:00,4392790,19,49,29974,29974,29448,29474,1001105,NaN,NaN,NaN,NaN,NaN,NaN,05-MAR-17 02:24:02,NaN
1010,690256,DB,21-FEB-17 00:00:00,4392790,20,51,30085,30085,29564,29582,1001105,NaN,NaN,NaN,NaN,NaN,NaN,05-MAR-17 02:24:02,NaN
1080,500203,DB,21-FEB-17 00:00:00,4392790,21,52,30145,30145,29604,29604,1001105,NaN,NaN,NaN,NaN,NaN,NaN,05-MAR-17 02:24:02,NaN
1011,690257,DB,21-FEB-17 00:00:00,4392790,22,262,30233,30233,29651,29671,1001105,NaN,NaN,NaN,NaN,NaN,NaN,05-MAR-17 02:24:02,NaN
1012,690258,DB,21-FEB-17 00:00:00,4392790,23,270,30325,30325,29759,29759,1001105,NaN,NaN,NaN,NaN,NaN,NaN,05-MAR-17 02:24:02,NaN
39,508633,DB,26-MAY-17 00:00:00,4887841,20,51,29353,29353,29384,29490,1001105,NaN,NaN,NaN,NaN,0.0,98928.0,30-JUN-17 18:02:39,NaN
1114,678284,DB,03-JAN-17 00:00:00,4092733,1,215,28200,28200,28202,28202,2406902,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
1115,678285,DB,03-JAN-17 00:00:00,4092733,2,216,28293,28293,28252,28252,2406902,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
1116,678286,DB,03-JAN-17 00:00:00,4092733,3,236,28300,28300,28253,28253,2406902,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
1117,678287,DB,03-JAN-17 00:00:00,4092733,4,217,28364,28364,28283,28283,2406902,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
1118,678288,DB,03-JAN-17 00:00:00,4092733,5,218,28431,28431,28341,28363,2406902,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
1119,678289,DB,03-JAN-17 00:00:00,4092733,6,219,28543,28543,28416,28416,2406902,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
1120,678290,DB,03-JAN-17 00:00:00,4092733,7,1641,28690,28690,28482,28482,2406902,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
1121,678291,DB,03-JAN-17 00:00:00,4092733,8,1642,28814,28814,28537,28537,2406902,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
1122,678292,DB,03-JAN-17 00:00:00,4092733,9,213,28940,28940,28629,28654,2406902,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
1123,678293,DB,03-JAN-17 00:00:00,4092733,10,214,29030,29030,28694,28694,2406902,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
1124,678294,DB,03-JAN-17 00:00:00,4092733,11,4432,29122,29122,28739,28739,2406902,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
1125,678295,DB,03-JAN-17 00:00:00,4092733,12,119,29220,29220,28833,28848,2406902,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
1126,678296,DB,03-JAN-17 00:00:00,4092733,13,44,29313,29313,28892,28892,2406902,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
1127,678297,DB,03-JAN-17 00:00:00,4092733,14,7603,29380,29380,28909,28909,2406902,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
1128,678298,DB,03-JAN-17 00:00:00,4092733,15,45,29458,29458,28925,28925,2406902,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
1129,678299,DB,03-JAN-17 00:00:00,4092733,16,46,29568,29568,28968,28968,2406902,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
1130,678300,DB,03-JAN-17 00:00:00,4092733,17,47,29700,29700,29024,29052,2406902,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
1131,678301,DB,03-JAN-17 00:00:00,4092733,18,48,29788,29788,29087,29087,2406902,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
1132,678302,DB,03-JAN-17 00:00:00,4092733,19,49,29913,29913,29211,29211,2406902,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
1133,678303,DB,03-JAN-17 00:00:00,4092733,20,51,30026,30026,29307,29307,2406902,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
1134,678304,DB,03-JAN-17 00:00:00,4092733,21,52,30087,30087,29327,29327,2406902,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
1135,678305,DB,03-JAN-17 00:00:00,4092733,22,262,30223,30223,29380,29393,2406902,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN
1136,678306,DB,03-JAN-17 00:00:00,4092733,23,270,30322,30322,29466,29466,2406902,NaN,NaN,NaN,NaN,NaN,NaN,20-JAN-17 16:24:19,NaN

In [22]:
df.drop('index',axis=1)

,datasource,dayofservice,tripid,progrnumber,stoppointid,plannedtime_arr,plannedtime_dep,actualtime_arr,actualtime_dep,vehicleid,passengers,passengersin,passengersout,distance,suppressed,justificationid,lastupdate,note
0,DB,17-JAN-17 00:00:00,4092733,1,215,28200,28200,28230,28230,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 09:48:02,NaN
1,DB,17-JAN-17 00:00:00,4092733,2,216,28293,28293,28348,28348,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 09:48:02,NaN
2,DB,17-JAN-17 00:00:00,4092733,3,236,28300,28300,28350,28350,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 09:48:02,NaN
3,DB,17-JAN-17 00:00:00,4092733,4,217,28364,28364,28376,28376,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 09:48:02,NaN
4,DB,17-JAN-17 00:00:00,4092733,5,218,28431,28431,28487,28512,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 09:48:02,NaN
5,DB,17-JAN-17 00:00:00,4092733,6,219,28543,28543,28572,28592,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 09:48:02,NaN
6,DB,17-JAN-17 00:00:00,4092733,8,1642,28814,28814,28720,28739,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 09:48:02,NaN
7,DB,17-JAN-17 00:00:00,4092733,9,213,28940,28940,28825,28971,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 09:48:02,NaN
8,DB,17-JAN-17 00:00:00,4092733,10,214,29030,29030,29005,29005,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 09:48:02,NaN
9,DB,17-JAN-17 00:00:00,4092733,11,4432,29122,29122,29043,29062,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 09:48:02,NaN
10,DB,17-JAN-17 00:00:00,4092733,13,44,29313,29313,29172,29185,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 09:48:02,NaN
11,DB,17-JAN-17 00:00:00,4092733,14,7603,29380,29380,29208,29208,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 09:48:02,NaN
12,DB,17-JAN-17 00:00:00,4092733,15,45,29458,29458,29252,29290,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 09:48:02,NaN
13,DB,17-JAN-17 00:00:00,4092733,16,46,29568,29568,29415,29470,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 09:48:02,NaN
14,DB,17-JAN-17 00:00:00,4092733,18,48,29788,29788,29547,29547,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 09:48:02,NaN
15,DB,17-JAN-17 00:00:00,4092733,19,49,29913,29913,29647,29647,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 09:48:02,NaN
16,DB,17-JAN-17 00:00:00,4092733,20,51,30026,30026,29738,29807,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 09:48:02,NaN
17,DB,17-JAN-17 00:00:00,4092733,22,262,30223,30223,29941,29972,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 09:48:02,NaN
18,DB,17-JAN-17 00:00:00,4092733,23,270,30322,30322,30050,30050,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 09:48:02,NaN
19,DB,27-MAR-17 00:00:00,4519460,13,44,29152,29152,29164,29164,1000309,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
20,DB,27-MAR-17 00:00:00,4519460,14,7603,29198,29198,29192,29221,1000309,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
21,DB,27-MAR-17 00:00:00,4519460,15,45,29251,29251,29274,29318,1000309,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
22,DB,27-MAR-17 00:00:00,4519460,16,46,29380,29380,29420,29450,1000309,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
23,DB,27-MAR-17 00:00:00,4519460,17,47,29534,29534,29497,29509,1000309,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
24,DB,27-MAR-17 00:00:00,4519460,18,48,29610,29610,29542,29563,1000309,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
25,DB,27-MAR-17 00:00:00,4519460,19,49,29718,29718,29703,29723,1000309,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
26,DB,27-MAR-17 00:00:00,4519460,20,51,29813,29813,29865,29865,1000309,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
27,DB,27-MAR-17 00:00:00,4519460,21,52,29865,29865,29999,29999,1000309,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
28,DB,27-MAR-17 00:00:00,4519460,22,262,29995,29995,30058,30078,1000309,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
29,DB,27-MAR-17 00:00:00,4519460,23,270,30076,30076,30135,30135,1000309,NaN,NaN,NaN,NaN,NaN,NaN,09-APR-17 09:00:06,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,DB,09-FEB-17 00:00:00,4339373,8,1642,28810,28810,28562,28584,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 18:31:42,NaN
1346,DB,09-FEB-17 00:00:00,4339373,9,213,28914,28914,28681,28742,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 18:31:42,NaN
1347,DB,09-FEB-17 00:00:00,4339373,10,214,28983,28983,28769,28769,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 18:31:42,NaN
1348,DB,09-FEB-17 00:00:00,4339373,12,119,29128,29128,28891,28913,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 18:31:42,NaN
1349,DB,09-FEB-17 00:00:00,4339373,13,44,29197,29197,28941,28954,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 18:31:42,NaN
1350,DB,09-FEB-17 00:00:00,4339373,14,7603,29246,29246,29001,29033,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 18:31:42,NaN
1351,DB,09-FEB-17 00:00:00,4339373,15,45,29304,29304,29082,29105,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 18:31:42,NaN
1352,DB,09-FEB-17 00:00:00,4339373,17,47,29512,29512,29230,29269,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 18:31:42,NaN
1353,DB,09-FEB-17 00:00:00,4339373,18,48,29600,29600,29309,29346,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 18:31:42,NaN
1354,DB,09-FEB-17 00:00:00,4339373,19,49,29725,29725,29479,29493,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 18:31:42,NaN
1355,DB,09-FEB-17 00:00:00,4339373,20,51,29839,29839,29594,29630,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 18:31:42,NaN
1356,DB,09-FEB-17 00:00:00,4339373,21,52,29901,29901,29661,29671,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 18:31:42,NaN
1357,DB,09-FEB-17 00:00:00,4339373,22,262,30033,30033,29778,29812,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 18:31:42,NaN
1358,DB,09-FEB-17 00:00:00,4339373,23,270,30178,30178,29929,29929,1000309,NaN,NaN,NaN,NaN,NaN,NaN,16-FEB-17 18:31:42,NaN
1359,DB,02-JUN-17 00:00:00,5009051,3,236,28274,28274,27678,27678,1000309,NaN,NaN,NaN,NaN,NaN,NaN,30-JUN-17 19:49:09,NaN
1360,DB,02-JUN-17 00:00:00,5009051,5,218,28370,28370,27720,27720,1000309,NaN,NaN,NaN,NaN,NaN,NaN,30-JUN-17 19:49:09,NaN
1361,DB,02-JUN-17 00:00:00,5009051,6,219,28452,28452,27766,27766,1000309,NaN,NaN,NaN,NaN,NaN,NaN,30-JUN-17 19:49:09,NaN
1362,DB,02-JUN-17 00:00:00,5009051,8,1642,28601,28601,27818,27818,1000309,NaN,NaN,NaN,NaN,NaN,NaN,30-JUN-17 19:49:09,NaN
1363,DB,02-JUN-17 00:00:00,5009051,10,214,28717,28717,28326,28326,1000309,NaN,NaN,NaN,NaN,NaN,NaN,30-JUN-17 19:49:09,NaN
1364,DB,02-JUN-17 00:00:00,5009051,11,4432,28764,28764,28373,28373,1000309,NaN,NaN,NaN,NaN,NaN,NaN,30-JUN-17 19:49:09,NaN
1365,DB,02-JUN-17 00:00:00,5009051,12,119,28814,28814,28454,28454,1000309,NaN,NaN,NaN,NaN,NaN,NaN,30-JUN-17 19:49:09,NaN
1366,DB,02-JUN-17 00:00:00,5009051,13,44,28876,28876,28477,28477,1000309,NaN,NaN,NaN,NaN,NaN,NaN,30-JUN-17 19:49:09,NaN
1367,DB,02-JUN-17 00:00:00,5009051,14,7603,28921,28921,28492,28492,1000309,NaN,NaN,NaN,NaN,NaN,NaN,30-JUN-17 19:49:09,NaN
1368,DB,02-JUN-17 00:00:00,5009051,15,45,28973,28973,28565,28565,1000309,NaN,NaN,NaN,NaN,NaN,NaN,30-JUN-17 19:49:09,NaN
1369,DB,02-JUN-17 00:00:00,5009051,16,46,29025,29025,28657,28657,1000309,NaN,NaN,NaN,NaN,NaN,NaN,30-JUN-17 19:49:09,NaN
1370,DB,02-JUN-17 00:00:00,5009051,17,47,29086,29086,28700,28711,1000309,NaN,NaN,NaN,NaN,NaN,NaN,30-JUN-17 19:49:09,NaN
1371,DB,02-JUN-17 00:00:00,5009051,19,49,29222,29222,28856,28856,1000309,NaN,NaN,NaN,NaN,NaN,NaN,30-JUN-17 19:49:09,NaN
1372,DB,02-JUN-17 00:00:00,5009051,20,51,29331,29331,28908,28908,1000309,NaN,NaN,NaN,NaN,NaN,NaN,30-JUN-17 19:49:09,NaN
1373,DB,02-JUN-17 00:00:00,5009051,21,52,29390,29390,28934,28934,1000309,NaN,NaN,NaN,NaN,NaN,NaN,30-JUN-17 19:49:09,NaN
1374,DB,02-JUN-17 00:00:00,5009051,22,262,29527,29527,28977,28996,1000309,NaN,NaN,NaN,NaN,NaN,NaN,30-JUN-17 19:49:09,NaN

In [23]:
route_16C = ['16C_27']

In [26]:
import pandas as pd
from dbanalysis import route_tools
to_concat = []
for route in route_16C:
    to_concat.append(route_tools.get_munged_route_data(route))

FileNotFoundError: [Errno 2] No such file or directory: '/home/student/dbanalysis/trimmed_routes.json'

In [25]:
#great thanks for moving the files right O